{% extends "base.html.twig" %}

{% block title %} All Movies {% endblock %}

{% block body %}

    <ul>
   
    </ul>

    {{ _self }}

    <br>

    {{ _charset }}

    <br>

    <h1>{{ myname }}</h1>

    <img src="{{ asset('build/images/image1.01b642d1.jpg') }}" style="width:300px;height:300px"/>

{% endblock %}